<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../inicio/views/style_inicio.css" />
    <title>Herramientas MR</title>
</head>
<body>
    <script type="text/javascript" src="../../inicio/views/script.js"></script>
    <section id="section--blur">
        <header></header>
        <section id="section--container">
            <article>
                <div class="button--container">
                    <button><a href="/reporteArticulo/views/index.html" style="text-decoration: none; 
        font-weight: bold; color: #121214;"><span id="span--container"></span> Reporte de Articulo</a></button>
                </div>
            </article>
        </section>
        <footer><img src="inicio/assets/logo-mrvapes.png"></footer>   
    </section>
        <form id="form--container">
            <label for="fuser">Usuario:</label><br>
            <input type="text" id="user" name="fuser"><br>
            <label for="lname">Contraseña:</label><br>
            <input type="password" id="pass" name="lpass"><br><br>
            <button id="login-button"> Ingresar</button>
        </form>
</body>
</html>