<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../inicio/views/style_inicio.css" />
    <title>Herramientas MR</title>
</head>
<body>
    <section id="section--blur">
        <header></header>
        <section id="section--container">
            <article>
            </article>
        </section>
        <footer><img src="inicio/assets/logo-mrvapes.png"></footer>   
    </section>
        <form id="form--container">
            <label for="fuser" style="color: red;">ACCESO DENEGADO!</label><br>

            <button id="login-button"><a style="text-decoration: none; color: #f5f0f0;" href="../../inicio/views/index.html">Regresar</a></button>
        </form>
        <script type="text/javascript" src="../../inicio/views/script.js"></script>
</body>
</html>