<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="desktop.css" media="(min-width: 1000px)" />
    <title>Reporte de Articulos</title>
</head>

<body>
    <header>
        <form name="myForm">
            <input type="text" id="searchBar" name="searchBar" placeholder="buscar...">
            <div class="buttons--container">
                <input type="date" id="startingDate" name="startingDate">
                <input type="date" id="finalDate" name="finalDate">
                <button id="sendButton" class="buttons--container" type="submit">Enviar</button>
            </div>
        </form>
    </header>
    <section>
        <div id="dataSheet--container">
            <div id="dataSheet">
                <section id="generalInfo--container">
                    <h2>General</h2>
                </section>
                <article id="periodInfo">
                    <h2 id="month-title--container">Mensual</h2>
                    <section id="period--container" style="background-color: white;">

                    </section>
                </article>
            </div>
        </div>
    </section>
    <footer></footer>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>